# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Build output
build

# Testing
coverage

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/pulse-web-client.code-workspace
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?