@page "/profile"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Graph
@inject Microsoft.Graph.GraphServiceClient GraphClient
@attribute [Authorize]

<PageTitle>User Profile</PageTitle>

<h1>User Profile</h1>

@if (user == null)
{
    <FluentProgressRing Label="Loading..." />
}
else
{
    <FluentCard>
        <FluentGrid>
            <FluentGridItem xs="12" sm="6">
                <FluentLabel Typo="Typography.Subject">Display Name</FluentLabel>
                <FluentLabel Typo="Typography.Body">@user.DisplayName</FluentLabel>
            </FluentGridItem>
            <FluentGridItem xs="12" sm="6">
                <FluentLabel Typo="Typography.Subject">User Principal Name</FluentLabel>
                <FluentLabel Typo="Typography.Body">@user.UserPrincipalName</FluentLabel>
            </FluentGridItem>
        </FluentGrid>
    </FluentCard>
}

@code {
    private Microsoft.Graph.Models.User? user;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await GraphClient.Me.GetAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
