.toolbar-spacer {
  flex: 1 1 auto;
}

.main-content {
  min-height: calc(100vh - 64px);
  padding-top: 0;
  position: relative;
}

@media (max-width: 599px) {
  .main-content {
    min-height: calc(100vh - 56px);
  }
}

.username {
  margin-right: 0.5rem;
}

.active {
  background-color: rgba(255, 255, 255, 0.15);
}
